<script src="../static/libs/jquery.pjax.js"></script>

<script>
    $(document).pjax('.pj', '#pjax-container', {timeout: 10000});
    $(document).on('pjax:send', function() {
        $('.pj-loading').show();
    });
    $(document).on('pjax:complete', function() {
        setTimeout( function(){
            $('.pj-loading').hide();
        }, 500);
    });
</script>

<!-- $(document).on('pjax:start', function() { NProgress.start(); }); -->
<!-- $(document).on('pjax:end',   function() { NProgress.done();  }); -->

<!-- if self.request.headers.get('X-PJAX'):
    return self.render(
        'allTags_pjax.html',
        tags=d,
        keys=keys,
        user=user
    )
else:
    return self.render('allTags.html', tags=d, keys=keys, user=user) -->

<!-- <li><a href="/tags/{{ data['user'][0]['userID'] }}" class="pj">所有标签<span>{{ data['num']['tags'] }}</span></a></li> -->
