<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>所有标签 - L</title>
  {% include 'blog/scrollreveal.html' %}
</head>

<body class="bg">
  <div class="flex-article">
    {% include 'blog/right.html' %}

    <div class="left">
      <div class="tag-nav">
        <p>所有标签</p>
      </div>
      <div class="article all-tags">
        <ul>
          {% for key in data['keys'] %}
          <li><a href="#{{ key }}">{{ key }}</a></li>
          {% endfor %}
        </ul>

        {% for value in data['values'] %}
        <hr>
        <p id="{{ value[0] }}"><a href="#{{ value[0] }}">{{ value[0] }}</a></p>
        <div class="tags">
          {% for tag in value[1] %}
          <a href="/tag/{{ tag['url'] }}">{{ tag['content'] }}<span>{{ tag['number'] }}</span></a>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      {% include 'blog/footer.html' %}
    </div>
  </div>
</body>
</html>
