flask==0.12.2
flake8==2.6.2
blinker==1.4
redis==2.10.5
SQLAlchemy==1.1.9
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Alembic==0.9.1
psycopg2==2.6.2
pinyin==0.3.1
bcrypt==3.1.0
IPython==6.2.0
ipdb==0.10.3
fabric==1.12.0
mock==2.0.0
coverage==4.4.1
schematics==1.1.1
raven==6.0.0
gevent==1.2.2
gunicorn==19.7.1
Celery==4.1.0

# fish
futures==3.1.1
requests==2.14.2
BeautifulSoup4==4.6.0
