// 动画

@import '~src/styles/color';

// body {
//   background-color: #dedede;
//   font-size: 12px;
// }

.base {
  height: 15em;
  left: 50%;
  margin: -7.5em;
  padding: 3em;
  position: absolute;
  top: 50%;
  width: 15em;
  transform: rotateX(25deg) rotateY(-45deg) rotateZ(10deg);
  // rotateX(45deg) rotateZ(45deg);
  // rotateX(45deg) rotateY(-45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.cube,
.cube::after,
.cube::before {
  content: '';
  float: left;
  height: 3em;
  position: absolute;
  width: 3em;
}

.cube {
  background-color: $am-blue-1;
  position: relative;
  transform: translateZ(3em);
  transform-style: preserve-3d;
  transition: 0.25s;
  box-shadow: 13em 13em 1.5em $light-black-2;
  animation: anim 1s infinite;
}

.cube::after {
  background-color: $am-blue-2;
  transform: rotateX(-90deg) translateY(3em);
  transform-origin: 100% 100%;
}

.cube::before {
  background-color: $am-blue-3;
  transform: rotateY(90deg) translateX(3em);
  transform-origin: 100% 0;
}

@each $i in (2, 3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 25) {
  .cube:nth-child(#{$i}) {
    background: none;
    animation: none;
    box-shadow: none;
  }

  .cube:nth-child(#{$i}):after,
  .cube:nth-child(#{$i}):before {
    background: none;
  }
}

.cube:nth-child(1) {
  animation-delay: 0.1s;
}

.cube:nth-child(6) {
  animation-delay: 0.15s;
}

.cube:nth-child(11) {
  animation-delay: 0.2s;
}

.cube:nth-child(16) {
  animation-delay: 0.25s;
}

.cube:nth-child(21) {
  animation-delay: 0.3s;
}

.cube:nth-child(22) {
  animation-delay: 0.35s;
}

.cube:nth-child(23) {
  animation-delay: 0.4s;
}

.cube:nth-child(24) {
  animation-delay: 0.45s;
}

@keyframes anim {
  50% {
    transform: translateZ(0.5em);
  }
}
