// 首页
@import "../styles/base";
@import "../styles/animate";

// @media (max-width: 1199){ //<=1199的设备 }
// @media (max-width: 991px){ //<=991的设备 }
// @media (max-width: 767px){ //<=768的设备 }

.top {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
  background: {
    color: $light-gray;
  }
  font-size: 1.8rem;
  color: $white;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 0;

  h1 {
    font: {
      size: 4rem;
      weight: normal;
    }
    margin-top: 5px;
    text-shadow: 0 0 20px $black;
    color: $white;
  }

  p {
    font: {
      size: 1.5rem;
      weight: normal;
    }
    margin-top: 10px;
    text-shadow: 0 0 20px $black;
    border-left: 3px solid $white;
    padding: 3px 20px;
    display: inline-block;
    color: $white;
  }

  .introduction {
    margin-top: 10px;

    span {
      font-size: 1rem;
    }
  }

  .bottom-connect {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;

    a {
      color: $white;
    }
  }

  .bg-intro {
    border: 0;
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    color: $eee;
  }
}

.bg {
  // height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    color: $light-gray;
  }
  opacity: 0;
  animation: {
    name: overlay;
    duration: .5s;
    delay: .1s;
    fill-mode: forwards;
  }
  position: absolute;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin-top: -40px;
  padding: 0 10px;

  @media (max-width: 767px) {
    margin-top: -10px;
  }
}

.article {
  @include article;
  max-width: 700px !important;
}

.nav {
  position: absolute;
  top: 10px;
  margin: auto;
  width: 100%;
  max-width: $content-max-width;
  padding: 15px 30px;
  text-align: left;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: $white !important;
  }

  .category {
    display: inline-block;

    a {
      padding: 10px;
      vertical-align: middle;
    }

    a:hover {
      border-bottom: 3px solid $white;
    }

    .emoji {
      font: {
        size: 1.6rem;
        weight: normal;
      }
      vertical-align: middle;
    }
  }

  @media (max-width: 767px) {
    padding: 10px 5px;
  }
}

.content {
  background: $light-gray;
  overflow: hidden;
}

@media (max-width: 767px) {

  .top {
    .introduction {
      margin-top: 5px;
    }

    .last-article {
      margin-top: 15px;
    }

    .bg-intro {
      right: 10px;
    }
  }
}
