<div class="right hidden-xs">
    <div class="avatar" style="background-image: url('{{ data['user']['avatar'] }}');"></div>
    <h1>{{ data['user']['username'] }}</h1>
    <p>{{ data['user']['introduction'] }}</p>
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/tags">所有标签</a></li>
    </ul>
</div>

<div class="top-nav visible-xs">
    <div class="avatar" style="background-image: url('{{ data['user']['avatar'] }}');"></div>
    <h1>{{ data['user']['username'] }}</h1>
    <p>{{ data['user']['introduction'] }}</p>
</div>
