// base
@import "../base";


@mixin avatar($top: 55px, $bottom: 10px, $width: 120px) {
  margin: $top auto $bottom;
  padding: 0;
  width: $width;
  height: $width;
  box-shadow: 0 2.5px 5px 0 $black;
  border-radius: 60px;
  text-indent: -9999px;
  background: url("../../img/Katarina.png");
  background-size: 100%;
}

@mixin shadow-box {
  @include base-shadow-box;

  max-width: 640px;
  margin: 40px auto;
}

@mixin article {
  @include shadow-box;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    padding: 0 20px;
    line-height: 170%;
  }

  p,
  ul,
  table {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1rem;
    // color: #333;
  }

  video {
    margin-top: 0;
    margin-bottom: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    color: $color-555;
  }

  h2 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid $underline;
  }

  ul {
    padding-left: 3rem;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 2rem;
    }
  }

  li {
    padding-bottom: 5px;
    list-style-type: disc;
  }

  h1 {
    text-align: center;
    font: {
      size: 1.3rem;
      weight: normal;
    }
  }

  img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  blockquote {
    border-left: 3px solid $eee;
    margin: 20px;

    p {
      margin: 0;
      padding: {
        top: 10px;
        bottom: 10px;
      }

      &.img {
        padding: 10px 20px !important;
        text-align: left;
      }
    }

    video {
      padding: 10px 20px;
      text-align: left;
      margin: 0;
    }
  }

  code {
    word-wrap: break-word;
  }

  pre code {
    padding: 10px 20px;
  }

  li code,
  p code {
    padding: 0.2rem;
    margin: 0;
    background-color: $code;
    color: $black2;
    border-radius: 3px;
  }

  hr {
    margin: {
      left: 20px;
      right: 20px;
    }
  }

  table {
    width: 100%;
    overflow: auto;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      border-top: 1px solid $ccc;
      background-color: $fff;

      &:nth-child(2n) {
        background-color: $f8;
      }
    }

    th,
    td {
      border: 1px solid $ddd;
      padding: 6px 13px;
      line-height: normal;
      min-width: 100px;
    }
  }
}

.title {
  text-align: center;
}

.time {
  text-align: right;
  font-size: 1rem;
  padding: 0 20px 20px;

  span {
    padding-left: 10px;
  }
}

.tags {
  overflow: hidden;
  font-size: 0.9rem;
  padding: 10px 20px;

  a {
    padding: 12px;
    margin: 5px;
    background: $green;
    display: block;
    float: left;
    color: $white;
    line-height: normal;

    &:hover {
      background: $dark-green;
      color: $white;
    }
  }

  span {
    background: $white;
    color: $black;
    padding: 5px;
    // font-size: 13px;
    margin: 5px 0 5px 8px;
    border-radius: 9px;
    line-height: normal;
  }
}

.sr {
  visibility: hidden;
}

.tag-nav {
  @include shadow-box;
  width: 70%;
  max-width: $article-width;
  margin: 20px auto;

  p {
    color: $gray2;
    padding: 15px 20px;
    margin: 0;
    font-size: 1.1rem;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.footer {
  max-width: 640px;
  margin: 40px auto;
  text-align: center;
}
