<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>登录 - L</title>

  <script src="/static/libs/scrollreveal.min.js"></script>
  <script>
    window.sr = ScrollReveal();

    if (sr.isSupported()) {
      document.documentElement.classList.add('sr');
    }
  </script>
</head>

<body class="bg">
  <div class="login">
    <div class="avatar" style="background-image: url('https://obmfhf1m3.qnssl.com/Katarina.png');"></div>
    <form action="/auth/login" method="POST">
      <input type="text" name="username" placeholder="用户名">
      <input type="password" name="password" placeholder="密码">
      <button type="submit">登录</button>
    </form>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81813308-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
