// base
@import '~src/styles/base';

@mixin avatar($top: 55px, $bottom: 10px, $width: 120px) {
  margin: $top auto $bottom;
  padding: 0;
  width: $width;
  height: $width;
  box-shadow: 0 2.5px 5px 0 $black;
  border-radius: 60px;
  text-indent: -9999px;
  background-size: 100%;
}
