// 登录
@import '~src/auth/styles/base';

.avatar {
  @include avatar($top: 80px, $bottom: 50px);
}

.top {
  height: 100%;
  background: {
    color: $light-gray;
  }
}

.login {
  position: relative;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
  overflow: auto;

  input {
    width: 100%;
    display: block;
    padding: 10px;
    outline: 0;
    border: 0;
    margin: 20px auto;
    font-size: 1.1rem;
    line-height: normal;

    transition: box-shadow ease-in-out 0.25s;

    &:focus {
      box-shadow: 0 0 20px $light-black;
      outline: 0;
    }
  }

  button {
    width: 100%;
    margin: 0 auto;
    display: block;
    background: $green;
    color: $white;
    padding: 10px;
    font-size: 1.1rem;
    line-height: normal;

    &:hover {
      cursor: pointer;
      background: $dark-green;
    }
  }
}
