// 通用颜色

$green: rgb(91, 161, 135);
$dark-green: rgb(72, 124, 112);

$black: rgb(0, 7, 0);
$white: rgb(255, 255, 255);
$gray: rgb(239, 241, 248);
$light-blue: #c4e0e5;
$light-gray: #fafafa;
$light-black: rgba(0, 0, 0, .05);
$light-black-2: rgba(0, 0, 0, 0.1);
$light-beige: #fdf6e3;
$beige: #eee8d5;
$eee: #eee;
$color-555: #555;
$ccc: #ccc;
$fff: #fff;
$f8: #f8f8f8;
$ddd: #ddd;
$code: rgba(27, 31, 35, 0.05);
$black2: #24292e;
$gray2: #777;
$underline: #eaecef;

$am-blue-1: #05afd1;
$am-blue-2: #049dbc;
$am-blue-3: #048ca7;
