<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Just For Fun - L</title>
</head>

<body class="bg">
  <div class="top">
    <div class="avatar"></div>
    <h1><a href="/">L</a></h1>
    <p>我的项目列表</p>
  </div>

  <div class="content">
    <div>
      <img src="http://img.l.jifangcheng.com/3cfbbf5d0d2e3d460efa29c61b8d0589a057e75f.jpg" alt="">
      <h1><a href="/fish">知乎热门钓鱼帖</a></h1>
      <p>好好反省一下，别人怎么就能提那么多问题呢 🌚</p>
    </div>
  </div>
</body>
</html>
