// base
@import "~normalize.css";
@import "variable";

body {
  background: $white;
  font: {
    family: $font;
    weight: normal;
  }
  letter-spacing: 0.5px;
  color: $black;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font: {
    size: 16px;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: $green;
  color: $white;
}

a,
button {
  transition: background 0.4s, color 0.5s;
  color: $green;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

p {
  color: $black;
  margin: 0;

  &.img {
    padding: 0 0 10px !important;
    text-align: center;
  }
}

h1 {
  margin: 0;
}

li,
ul {
  list-style-type: none;
}

label {
  font-weight: normal;
}

hr {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $eee;
  height: 0;
}

button {
  border: 0;
  background: none;
}

input {
  outline: 0;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }

  .visible-xs {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}

@mixin avatar($top: 55px, $bottom: 10px, $width: 120px) {
  margin: $top auto $bottom;
  padding: 0;
  width: $width;
  height: $width;
  box-shadow: 0 2.5px 5px 0 $black;
  border-radius: 60px;
  text-indent: -9999px;
  background: url("../../../img/Katarina.png");
  background-size: 100%;
}
